### Topics: Lists, Tuples, Dictionaries and Sets

#### 1. Access `raghav` in the following list.

In [2]:
mylist = [1, [1.5, [200, False, ['abc', True, [17, 'raghav']]]]]
mylist

[1, [1.5, [200, False, ['abc', True, [17, 'raghav']]]]]

In [3]:
print(mylist[1][1][2][2][1])

raghav

#### 2.  Sort the elements of the list in an ascending order and append [7, 8] and [9, 10] to the list.

In [12]:
mylist = [4, 3, 1, 5, 2, 6]
mylist

[4, 3, 1, 5, 2, 6]

In [4]:
mylist = [4, 3, 1, 5, 2, 6]
mylist
mylist.sort()
print(mylist)
mylist.append([7,8])
#print(mylist)
mylist.append([9,10])
print(mylist)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [7, 8], [9, 10]]

In [5]:
mylist = [4, 3, 1, 5, 2, 6]
mylist
mylist.sort()
print(mylist)
mylist.extend([7,8])
#print(mylist)
mylist.extend([9,10])
print(mylist)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### 3. Create a tuple with a single element. Try this in two ways.

In [1]:
alpha =(1,)
print (alpha)
beta = 1,
print (beta)

(1,)
(1,)

#### 4. Access `raghav` associated with all the keys from the following dictionary

In [12]:
mydict = {'k1' : 'raghav', 'k2' : [1, 'raghav'], 'k3' : (1.5, True, ['python', 'raghav']), 'k4' : [(1, 2, 3), (4, 5), ('python', 'raghav')], 'k5' : {'k6' : {'k7' : [1, 2.45, 'raghav', True]}}}

In [21]:
mydict

{'k1': 'raghav',
 'k2': [1, 'raghav'],
 'k3': (1.5, True, ['python', 'raghav']),
 'k4': [(1, 2, 3), (4, 5), ('python', 'raghav')],
 'k5': {'k6': {'k7': [1, 2.45, 'raghav', True]}}}

In [13]:
for key, value in mydict.items():
    print (key,':',value)

k1 : raghav
k2 : [1, 'raghav']
k3 : (1.5, True, ['python', 'raghav'])
k4 : [(1, 2, 3), (4, 5), ('python', 'raghav')]
k5 : {'k6': {'k7': [1, 2.45, 'raghav', True]}}

In [14]:
import pprint
pprint.pprint(mydict)

{'k1': 'raghav',
 'k2': [1, 'raghav'],
 'k3': (1.5, True, ['python', 'raghav']),
 'k4': [(1, 2, 3), (4, 5), ('python', 'raghav')],
 'k5': {'k6': {'k7': [1, 2.45, 'raghav', True]}}}

#### 5. Create a dictionary with keys `a` &  `b`  and correspoding values `1` and `2`. Update a new set of key and value pair `c` & `3` in two different ways. Then, remove the last key value pair updated.

In [2]:
new_dict ={'a':1,'b':2}
new_dict

{'a': 1, 'b': 2}

In [3]:
new_dict.update({'c':3})
new_dict

{'a': 1, 'b': 2, 'c': 3}

In [4]:
new_dict.popitem()

('c', 3)

In [5]:
new_dict

{'a': 1, 'b': 2}

#### 6. Create two sets `s1` with elements `1, 2, 3, 4` & `s2` with elements `3, 4, 5, 6` and demonstate the following methods:

    1. difference_update
    2. intersection_update
    3. symmetric_difference
    4. symmetric_difference_update
    5. update
    6. discard
    7. remove

In [ ]:
s1 ={1,2,3,4}
s2 ={3,4,5,6}

In [6]:
s1 ={1,2,3,4}
s2 ={3,4,5,6}
s1.difference_update(s2)
print(s1)

{1, 2}

In [7]:
s1 ={1,2,3,4}
s2 ={3,4,5,6}
s1.intersection_update(s2)
print (s1)

{3, 4}

In [8]:
s1 ={1,2,3,4}
s2 ={3,4,5,6}
s1.symmetric_difference(s2)
s1

{1, 2, 3, 4}

In [9]:
s1 ={1,2,3,4}
s2 ={3,4,5,6}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6}

In [10]:
s1 ={1,2,3,4}
s2 ={3,4,5,6}
s1.discard(s2)
s1

{1, 2, 3, 4}

In [11]:
s1 ={1,2,3,4}
s2 ={3,4,5,6}
s1.remove(4)
s1

{1, 2, 3}